@font-face {
    font-family: Nunito;
    src: url(../../assets/fonts/Nunito-Regular.woff2) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: Nunito;
    src: url(../../assets/fonts/Nunito-Light.woff2) format("woff2");
    font-weight: 100;
}

@font-face {
    font-family: Nunito;
    src: url(../../assets/fonts/Nunito-Medium.woff2) format("woff2");
    font-weight: 600; 
}

@font-face {
    font-family: Nunito;
    src: url(../../assets/fonts/Nunito-Bold.woff2) format("woff2");
    font-weight: 800;
}
