$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$white: #ffff;
$background-yellow: #ffffea;
$button-orange: #ffa630;
$background-accent: #e9ebad;
$brown: #47300c;
$light-blue: #74a4bc;
$dark-blue: #2e5077;
$red: #b54d4c;
$green: rgb(125, 196, 125);
