$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$white: #ffff;
$background-yellow: rgb(234, 234, 220);
$button-orange: #d69035;
$background-accent: rgb(224, 201, 111);
$brown: #47300c;
$brown-inactive: #705a37;
$light-blue: #537acc;
$dark-blue: #2e5077;
$box-shadow-grey: rgb(141, 141, 141);
