@import '../../styles/partials/variables';
@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';

.home {
    width: 100%;
    background-color: $white;

    &__header {
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: $background-accent;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @include tablet {
            padding: 0.5rem 2rem;
        }
    }

    &__header-logo-wrap {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%; 
    }
    &__header-logo-wrapper {
        background-color: $brown;
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    &__header-logo {
        position: relative;
        top: -0.1rem;
        left: -0.12rem;
        height: 2rem;
    }

    &__header-title {
        height: 3rem;
    }
    &__header-temp-wrapper {
        width: 100%; 
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    &__header-temp-icon {
        height: 2.5rem;
    }

    &__content-wrap {
        @include desktop {
            padding: 2rem 6rem;
            width: 100%;
            background-color: $background-yellow;
        }
    }

    &__body {
        width: 100%;
        padding: 0 1rem 5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $background-yellow;
        @include desktop { 
            width: 50%;
        }
    }

    &__body-illustration-wrap {
        width: 100%; 
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 1rem;
    }

    &__body-illustration {
        width: 100%;
        border-radius: 20px; 
        box-shadow: 0px 0px 10px $box-shadow-grey;
    }
  
    &__two-icons-wrap {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__one-icon-wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: $background-accent;
        border-radius: 5px;
        width: 40%;
        padding: 1rem 0;
        box-shadow: 0px 0px 10px $box-shadow-grey;
    }

    &__calendar-icon {
        height: 2rem;
    }
    &__friends-icon {
        height: 2rem;
    }
  
    &__body-suggestion {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-left: $light-blue solid 2px;
        border-right: $light-blue solid 2px;
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
        font-size: 1.3rem;
    }
  
    &__apply-btn {
      outline: none;
      background-color: $button-orange;
      border-radius: 5px;
      border: none;
      min-width: 100%;
      padding: 0.7rem 0;
      color: $background-yellow;
      font-size: 1.2rem;
      font-weight: 800;
      box-shadow: 0px 0px 10px $box-shadow-grey;
    }

    &__apply-btn-active {
        outline: none;
        background-color: $light-blue;
        border-radius: 5px;
        border: none;
        min-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        box-shadow: 0px 0px 10px $box-shadow-grey;
    }
    &__apply-btn-active-p {
        width: 50%;
        font-weight: 800;
        color: $background-yellow;
        font-size: 1.2rem;
        padding-left: 1rem;
    }
    
    &__apply-btn-cancel-wraper {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    &__apply-btn-cancel-wrap {
        padding: 1rem;
        background-color: $button-orange;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &__apply-btn-cancel {
        height: 1rem;
    }
  
    &__details-link {
      color: $light-blue;
      text-decoration: none;
      text-decoration: underline;
      cursor: pointer;
      padding-bottom: 1rem;
    }
  }
  
.span {
    color: $light-blue;
}
